.doctor {
  background-color: rgb(203, 243, 240, 0.25) !important;
}

.botones {
  background-color: rgb(203, 243, 240, 0.25) !important;
  display: flex;
  flex-direction: row;
  justify-content: right;
  font-size: 24px;
}

.lista {
  text-align: center;
  background-color: rgb(203, 243, 240, 0.25) !important;
}

.elboton {
  background-color: rgb(203, 243, 240, 0.25) !important;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 24px;
}
