/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Montserrat:wght@600;700&family=Oswald&display=swap");

#title {
  font-family: "Arvo", serif;
  font-weight: bold;
  font-size: 54px;
  letter-spacing: 8px;
  display: inline;
  margin: none;
  padding: none;
  text-align: center;
  color: #2ec4b6;
  text-shadow: 2px 2px 2px #000000;
}

#bot {
  color: #ff9f1c !important;
}

#button {
  background-color: #2ec4b6;
  border: 2px #ff9f1c solid;
  text-shadow: 1px 1px 4px #000000;
  -webkit-box-shadow: 0px 0px 15px 5px #feed53;
  box-shadow: 0px 0px 15px 5px #feed53;
  font-size: 24px;
}
