/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
body {
  background: rgb(203, 243, 240);
  background: linear-gradient(
    45deg,
    rgba(203, 243, 240, 0.804359243697479) 0%,
    rgba(250, 250, 250, 1) 50%,
    rgba(254, 237, 83, 0.4962359943977591) 100%
  );
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;}