body {
  background-color: transparent;
}

#title {
  font-family: "Arvo", serif;
  font-weight: bold;
  font-size: 54px;
  letter-spacing: 8px;
  display: inline;
  margin: none;
  padding: none;
  text-align: center;
  color: #2ec4b6;
  text-shadow: 2px 2px 2px #000000;
}

#bot {
  color: #ff9f1c !important;
}
