input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"] {
  float: right;
  width: 80%;
  border-radius: 4px;
  padding-bottom: 4px;
}

.errorText {
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 14px;
  font-weight: 300;
}
