#inputArea {
  text-align: center;
}

form {
  width: 90%;
}
.loginInput {
  width: 90%;
}
a {
  text-decoration: none !important;
}

#newUserButton {
  background-color: #2ec4b6;
  border: 2px #ff9f1c solid;
  text-shadow: 1px 1px 4px #000000;
}

#loginButton {
  background-color: #2ec4b6;
  border: 2px #ff9f1c solid;
  text-shadow: 1px 1px 4px #000000;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: #ffff00;
  height: 1px;
}

#forgot {
  color: #2ec4b6;
}
