#inputArea {
  text-align: center;
}

.loginInput {
  width: 90%;
}

a {
  text-decoration: none;
}

#newUserButton {
  background-color: #2ec4b6;
  border: 2px #ff9f1c solid;
  text-shadow: 1px 1px 4px #000000;
}

#loginButton {
  background-color: #2ec4b6;
  border: 2px #ff9f1c solid;
  text-shadow: 1px 1px 4px #000000;
}

hr {
  width: 96%;
  background-color: #2ec4b6;
  height: 2px;
}

#forgot {
  color: #2ec4b6;
}
